body{
    background-image: ('/img/background.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
}
h1{
    text-align: center;
    color: blue;
    font-size: 60px;
    font-family: 'Arial', 'Helvetica', 'sans-serif';
}
h2{
    text-align: center;
    color: black;
    font-size: 50px;
    text-decoration: underline;
    font-family: 'Courier New', 'Courier', 'monospace';
}
p{
    color: white;
    font-size: 30px;  
    font-family: "consolas", "sans-serif";
}
img{
    width: auto;
    margin: auto;
    display: block;
}

/*HyperLink settings*/

a:visited{
    color: white;
}
a:hover{
    color:blue;
}
a:active{
    color:yellow;
}
